<ion-tabs #myTabs>
  <ion-tab [root]="tab5Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Navegación" tabIcon="ios-map-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
