<!--
  Generated template for the NavegationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Navegation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button color="secondary" full [navPush]="next">Push</button>
  <button ion-button navPop full color="danger">Pop</button>
  <button ion-button (click)="goTo()" full color="danger">Change Root</button>
</ion-content>
